svg text {
    font-family: 'Droid Sans';
    text-rendering: optimizeLegibility;
}

figure.analytics-chart { position: relative; margin: 0 }
.analytics-chart { height: 400px; fill: transparent; stroke: black; }
.analytics-chart figcaption
    { font-weight: bold; font-size: 16px; color: rgb(0, 0, 0); letter-spacing: 110%; }
.analytics-chart g.bars rect.bar { fill: white; stroke: rgb(80, 80, 220); }
.analytics-chart g.axis > g > text { stroke: none; fill: #6C6764; font-weight: normal; font-size: 12px; }
.analytics-chart line.x.gridline { stroke: rgb(200, 200, 200); }
.analytics-chart line.y.gridline { stroke: rgb(200, 200, 200); }
.analytics-chart path.domain { stroke: rgb(200, 200, 200); fill: none; }
.analytics-chart line.x.gridline { stroke: rgb(200, 200, 200); }
.analytics-chart line.y.gridline { stroke: rgb(200, 200, 200); }
.analytics-chart .tooltip { z-index: 9999; background-image; none; background-color: rgb(250, 250, 250); border: solid 2px rgb(80, 80, 200); }

.reactive-settings .spacer { margin: 0 1em; color: rgb(200, 200, 200); }
.reactive-settings .spacer-narrow { margin: 0 0.5em; }
.reactive-settings .spacer-wide { margin: 0 3em; }

#users { min-height: 700px; }
#calls { min-height: 700px; }
#endpoints { min-height: 700px; }

#key-list  { width: 10px; } 

.expand { display:block; }
form.signup input, form.signup textarea { width: 400px; }
form.signup input.checkbox { width: 15px; float:left; margin-right: 15px; }
