{% extends "locksmith/base.html" %}
{% load humanize %}
{% load charthelpers %}

{% block bodyclass %}analytics{% endblock %}

{% block content %}
<h2>Overview</h2>

<div id="calls">
<h3> Calls </h3>
<table>
<thead>
    <tr > <th>API</th> <th> total calls </th> <th> last 30 days </th> <th> year to date </th> </tr>
</thead>
{% for api in apis %}
<tr class="{% cycle "even" "odd" %}">
    <td><a href="{% url api_analytics api.name %}">{{api.name}}</a></td>
    <td>{{api.total_calls|default:0|intcomma}}</td>
    <td>{{api.month_calls|default:0|intcomma}}</td>
    <td>{{api.ytd_calls|default:0|intcomma}}</td>
</tr>
{% endfor %}
<tr class="{% cycle "even" "odd" %}">
    <th>Totals</th>
    <td>{{total_calls|default:0|intcomma}}</td>
    <td>{{total_month_calls|default:0|intcomma}}</td>
    <td>{{total_ytd_calls|default:0|intcomma}}</td>
</tr>
</table>
</div>

<div id="keys">
<h3>Keys</h3>
<table>
    <tr><th colspan=2>Keys Issued</th></tr>
    <tr><th>Last 30 Days</th><td>{{keys_month}}</td></tr>
    <tr><th>This Year</th><td>{{keys_ytd}}</td></tr>
    <tr><th>Total</th><td>{{keys_total}}</td></tr>
</table>
<a href="{% url key_list %}">View all Keys</a>

<div id="timeline" style="width: 450px;">
</div>


</div>

<script>
var chart = new Highcharts.Chart({
   chart: { renderTo: 'timeline', zoomType: 'x' },
   title: { text: 'Keys Issued' },
   xAxis: { title: { text: 'Month' }, type: 'datetime', maxZoom: 60*24*3600000 },
   yAxis: { title: { text: 'Total Keys' }, min: 0 },
   legend: { enabled: false },
   credits: { enabled: false },
   tooltip: {
      formatter: function() {
         return '<b>'+ (this.point.name || this.series.name) +'</b><br/>'+ Highcharts.dateFormat("%b '%y", this.x) + ': ' + this.y + ' keys';
      }
   },
   series: [{
       name: 'Keys',
       type: 'area',
       data: [
          {% for o in keys_cumulative %}
          [{{o.0|jsdate}}, {{o.1}}]
          {% if not forloop.last %} , {% endif %}
          {% endfor %}
       ]
    }]
});
</script>

{% endblock %}
