{% extends "locksmith/base.html" %}

{% block bodyclass %}analytics{% endblock %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8" src="{{ MEDIA_URL }}jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#keys').tablesorter();
    });
</script> 
{% endblock %}

{% block content %}

<form action="." method="GET">
    Min Calls: <input name="min_calls" value="{{min_calls}}" />
    <input type="submit" value="apply filters" />
</form>

<table id="keys">
    <thead>
        <tr>
            <th>User</th>
            <th>Issued Date</th>
            <th>Total Calls</th>
            <th>Latest Call</th>
        </tr>
    </thead>
    <tbody>
        {% for key in keys %}
        <tr class="{% cycle "even" "odd" %}">
            <td><a href="{% url key_analytics key.key %}">{{key.email}} [{{key.key|slice:":6"}}..]</a></td>
            <td>{{key.issued_on|date:"Y-m-d"}}</td>
            <td>{{key.calls}}</td>
            <td>{{key.latest_call}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
