{% extends "locksmith/base.html" %}

{% block bodyclass %}analytics{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        var options = {{ json_options|safe }};
    </script>
    <link href="{{STATIC_URL}}datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}styles/locksmith.css" rel="stylesheet" type="text/css">
{% endblock extrahead %}

{% block content %}

    <table id="key-list">
        <thead>
            <tr><th>Key</th>
                <th>Email</th>
                <th>Calls</th>
                <th>Latest Call</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div>
        <aside>Excludes keys that have never been used.</aside>
    </div>

{% endblock content %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/date-en-US.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/bar-chart.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/column-chart.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}scripts/analytics-common.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#key-list").dataTable({
                'bProcessing': true,
                'bServerSide': true,
                'sAjaxSource': '/analytics/data/keys/',
                'aoColumns': [
                    { 'asSorting': ['asc', 'desc'] },
                    { 'asSorting': ['asc', 'desc'] },
                    { 'asSorting': ['asc', 'desc'] },
                    { 'asSorting': ['asc', 'desc'] }
                ],
                'asSorting': false,
                'aaSorting': [[2, 'desc']]
            });
        });
    </script>
{% endblock extrabody %}

